.one {
    background-color: red;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
    border: 5px solid black;
}

.two {
    background-color: blue;
}

.one, .two {
    display: inline;
    font-size: 100px;
}

.container {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;

     /* nilalagyan ng display flex - parent container ; 
    flex-direction - yung direction ng child
    flex - ability to expand based on the value you put in*/

    /* 
    space between - end to end, no space applied on main start and main end
    space evenly - considers main start and main end and applies spaces accordingly
    space around -  
    */

    /* justify content - placement of elements inside their containers; main axis; for width */
} 

.first {
    background-color: yellow;
    /* flex: 50%; */
}

.second {
    background-color: green;
    /* flex: 25%; */
}

.third {
    background-color: orange;
    /* flex: 25%;  */
    /* flex 
    - sakop sa screeen, length ung basis
    - combination of inline and block 
    - gagana pag inline, row, row-reverse */
}

.black-box {
    background-color: black;
    width: 50px;
    height: 50px;
}

.purple-box {
    background-color: purple;
    width: 100px;
    height: 100px;
}

.brown-box {
    background-color: brown;
    width: 150px;
    height: 150px;
}

.box-container {
    display: flex;
    align-items:  center;
    justify-content: space-between;
    /* align-items: height ng buong parent container, if values not declared based on biggest child ; cross axis*/
}

.order-container {
    display: flex;
}

.apple {
    background-color: rgb(198, 92, 92);
    order: 4;
}

.banana {
    background-color: rgb(235, 235, 114);
    order: 1;
}

.mango {
    background-color: rgb(0, 118,0);
    order: -1;
}

.watermelon {
    background-color: rgb(109,0,0);
    order: -5;
}

/* order - higher value - flex end */

.grow-container {
    display: flex;
}

.grow1, .grow2, .grow3 {
    background-color: pink;
    margin: 5px;
    /* margin is the space between elements */
}

.grow1 {
    flex-grow: 1;
}

.grow2 {
    flex-grow: 1;
}

.grow3 {
    flex-grow: 2;
}

/* flex grow - fraction */

.top-left, .top-right, .bottom-left, .bottom-right {
height: 50px;
width: 50px;
}

.top-left {
    background-color: brown;
}

.top-right {
    background-color: navy;
}

.bottom-left {
    background-color: green;
}

.bottom-right {
    background-color: gray;
}

.exercise {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 300px;
    background-color: orange;
}

.top, .bottom {
    display: flex;
    justify-content: space-between;
}