* {
  scroll-behavior: smooth;
}

h1 {
  color:rgb(1, 73, 1);
  font-weight: bold;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.description {
  margin-top: 20px;
  margin-bottom:40px;
}

#image{
  display:flex;
  justify-content: center;
}
img {
  width: 50%;
}

#submit-button {
  text-align: center;
  width: 25px;
  margin-top: 20px;
}

form {
  margin-left: 40px;
  margin-right: 40px;
}